html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
img{
  width: 100%;
  height: 70%;
}

button{
 margin-left: 50%;
 margin-top: 0%;
 color: brown;
 background-color: tomato;
 width: 100px;
 height: 50px;
 border-radius: 50px;
}